.img {
  background-image: url(./assets/hero-background.jpg);
  background-size: cover;
}

.top-icon-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar {
  box-shadow: #5ba0d11a 0px 1px 3px 0px;
  animation-name: navbar;
  animation-duration: 1s;
}

@keyframes navbar {
  0% {
    background-color: rgb(151, 151, 151);
  }
  100% {
    background-color: white;
  }
}

.mobile-nav-slide-top {
  animation-name: slide-top;
  animation-duration: 0.5s;
}

@keyframes slide-top {
  0% {
    transform: translateY(40vh);
  }
  100% {
    transform: translateY(0);
  }
}

.box-shadow-navabr {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.box-shadow:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

input {
  border: 1px solid #e6e5e5;
  outline: none;
}

input:focus {
  border: 1px solid gray;
}
textarea {
  border: 1px solid #e6e5e5;
  outline: none;
}

textarea:focus {
  border: 1px solid gray;
}
